*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.header .main-menu nav ul li a:hover {
  color: red;
}
.header .main-menu nav ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid red;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.header .main-menu nav ul li a:hover::after {
  transform: scaleX(1);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 0 10px;
  font-size: 0.8rem;
}

.top-menu .top-left-menu ul,
.top-menu .top-right-menu ul {
  display: flex;
}
.top-menu .top-left-menu ul li,
.top-menu .top-right-menu ul li {
  padding: 0 5px;
  color: hsla(0, 0%, 40%, 0.85);
}

.top-menu .top-right-menu ul {
  align-items: center;
}

.li-center {
  border-left: 1px solid hsla(0, 0%, 40%, 0.85);
  border-right: 1px solid hsla(0, 0%, 40%, 0.85);
}

.top-menu .top-left-menu ul li a,
.top-menu .top-right-menu ul li a {
  color: hsla(0, 0%, 40%, 0.85);
}
.icons {
  width: 15px;
  stroke-width: 3px;
  padding: 0 5px;
  vertical-align: middle;
}
.icon-cart {
  color: red;
  padding: 0 5px;
  vertical-align: middle;
}

.center-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center-menu .logo {
  width: 30%;
}
.center-menu .logo img {
  width: 80%;
}

.center-menu .search-form {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  width: 30%;
}
.center-menu .search-form form {
  width: 80%;
}
.center-menu .search-form .input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.center-menu .search-form form input {
  flex: 1;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  text-indent: 10px;
}
.center-menu .search-form .search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-search {
  width: 20px;
  stroke-width: 3px;
}
.main-menu {
  background-color: #ffffff;
}

.main-menu nav ul {
  display: flex;
  justify-content: center;
}
.main-menu nav ul li {
  padding: 10px;
}
.main-menu nav ul li a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Product */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 30px 110px;
  font-family: sans-serif;
  position: relative;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.main_gambar {
  width: 570px;
  height: 550px;
  position: block;
  width: 100%;
}

.container_image {
  max-width: 600px;
  position: relative;
}

.image_sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  overflow: hidden;
  gap: 10px;
}

.image_sec > img {
  width: 132.5px;
  height: 120px;
  opacity: 0.5;
  margin-bottom: -5px;
}

.gambar1:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: translateY(-5px);
  cursor: grab;
}
.gambar2:hover {
  opacity: 1;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}
.gambar3:hover {
  opacity: 1;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}
.gambar4:hover {
  opacity: 1;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

.container_judul {
  margin-top: 12px;
}

.judul-product {
  color: hsla(0, 0%, 40%, 0.7);
  cursor: pointer;
}

.judul:hover {
  color: black;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.judul_paragraf {
  font-size: 30px;
  margin-top: 10px;
  max-width: 550px;
}

.garis {
  background-color: #ed1c24;
  height: 4px;
  width: 35px;
  margin-top: 20px;
}

.container_price {
  display: flex;
  gap: 20px;
}

.price {
  color: #f78da7;
  margin-top: 20px;
  font-size: 26px;
  position: relative;
}

.price > a {
  font-size: 0.7em;
  text-decoration: none;
  color: #f78da7;
  vertical-align: top;
  margin-top: 0.5em;
}

.price::after {
  content: "";
  background-color: black;
  height: 2px;
  width: 125px;
  position: absolute;
  left: 0%;
  transform: translateY(700%);
  -webkit-transform: translateY(700%);
  -moz-transform: translateY(700%);
  -ms-transform: translateY(700%);
  -o-transform: translateY(700%);
}

.a2 {
  color: #ed1c24;
}

.price2 {
  color: #ed1c24;
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}

.price2 > a {
  font-size: 0.7em;
  text-decoration: none;
  color: #ed1c24;
  vertical-align: top;
  margin-top: 0.5em;
}

.stock {
  color: #7a9c59;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1em;
  margin-top: 10px;
}

.sku {
  border-top: 1px dotted #ddd;
  display: block;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 14px;
}
.kategory {
  border-top: 1px dotted #ddd;
  display: block;
  padding: 10px 0;
  font-size: 14px;
}

.input_quantity {
  display: inline-block;
  display: inline-flex;
  opacity: 1;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 9px;
}

.quantity {
  outline: none;
}

.minus {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.09);
  box-shadow: none;
  color: currentColor;
  padding: 10px 7px;
  border-radius: 30px 0px 0px 30px;
  -webkit-border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px 0px 0px 30px;
  -ms-border-radius: 30px 0px 0px 30px;
  -o-border-radius: 30px 0px 0px 30px;
  border-width: 1px;
}

.plus {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.09);
  box-shadow: none;
  color: currentColor;
  padding: 12px 7px;
  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -ms-border-radius: 0px 30px 30px 0px;
  -o-border-radius: 0px 30px 30px 0px;
  border-width: 1px;
}

.quantity {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.09);
  box-shadow: none;
  color: currentColor;
  text-align: center;
  width: 45px;
  border-width: 1px;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.minus:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.add {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #b20000;
  margin-top: 9px;
  border: none;
  margin-left: 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  font-size: 18px;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(107, 0, 62);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footer-container {
  width: 100%;
}

@media (max-width: 1340px) {
  .main {
    padding: 30px 90px;
  }
}

@media (max-width: 1300px) {
  .main {
    padding: 30px 60px;
  }
}

@media (max-width: 1280px) {
  .main {
    padding: 30px 40px;
  }
}

@media (max-width: 1100px) {
  .main {
    padding: 30px 14px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 30px 10px;
  }
  .container_image {
    max-width: 480px;
    position: relative;
  }
  .image_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    overflow: hidden;
    gap: 25px;
  }

  .image_sec > img {
    width: 95px;
    height: 100px;
    opacity: 0.5;
    margin-bottom: -5px;
  }

  .main_gambar {
    height: 490px;
    position: block;
    width: 100%;
  }
  .judul_paragraf {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {
  .main {
    padding: 30px 10px;
  }
  .container_image {
    max-width: 450px;
    position: relative;
  }
  .image_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    overflow: hidden;
    gap: 25px;
  }

  .image_sec > img {
    width: 95px;
    height: 100px;
    opacity: 0.5;
    margin-bottom: -5px;
  }

  .main_gambar {
    height: 490px;
    position: block;
    width: 100%;
  }
  .judul_paragraf {
    max-width: 450px;
  }
}
@media (max-width: 924px) {
  .main {
    padding: 30px 20px;
  }
  .container_image {
    max-width: 100%;
    position: relative;
  }
  .image_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    overflow: hidden;
    gap: 25px;
  }
  .image_sec > img {
    width: 200px;
    height: 100px;
    opacity: 0.5;
    margin-bottom: -5px;
    background-position: top;
    object-fit: cover; /* Untuk memastikan bahwa gambar tetap sesuai dengan ukuran tanpa merubah rasio aspek */
    object-position: top; /* Untuk memposisikan objek (gambar) di tengah ke atas */
    max-width: 100%;
  }
  .main_gambar {
    height: 490px;
    position: block;
    max-width: 100%;
  }
  .judul_paragraf {
    max-width: 450px;
  }
  .container_judul {
    position: absolute;
    margin-top: 620px;
  }
  .judul_paragraf {
    max-width: 800px;
  }
}

/* Footer */

.element {
  margin-top: 400px;
  height: 530px;
  background-color: #aa0e0f; /* Ganti dengan warna latar yang diinginkan */
  color: #fff; /* Ganti dengan warna teks yang sesuai */
}

.background-image {
  background-image: url("./images/backgroundFooter.jpg");
  height: 480px;
  padding-top: 20px;
  padding-left: 120px;
  font-weight: normal;
  color: #ffffffd3;
  display: flex;
  gap: 260px;
}

.judul {
  font-size: 18px;
  font-weight: 600;
}

.garis {
  height: 2px;
  width: 35px;
  background-color: #ffffff80;
  margin-top: 15px;
}

.footer-table {
  list-style-type: none;
  margin-top: 28px;
}

.footer-a {
  text-decoration: none;
  color: #fff;
}

.follow {
  font-weight: bold;
  margin-top: 28px;
  color: white;
}

.svg-icon {
  color: white;
  width: 40px;
  height: 40px;
  fill: white;
  margin-top: 4px;
  cursor: pointer;
}

.copyright {
  color: #ffffff83;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: small;
}

.sarung-indonesia {
  font-weight: 700;
  margin-left: 4px;
}

/* media query */

@media screen and (max-width: 1030px) {
  .background-image {
    padding-left: 20px;
    gap: 200px;
  }
}
@media screen and (max-width: 850px) {
  .background-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
  }

  .element {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .footer-info {
    margin-bottom: 60px;
  }

  .copyright {
    padding-bottom: 10px;
  }
}
