*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.header .main-menu nav ul li a:hover {
  color: red;
}
.header .main-menu nav ul li a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid red;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.header .main-menu nav ul li a:hover::after {
  transform: scaleX(1);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 0 10px;
  font-size: 0.8rem;
}

.top-menu .top-left-menu ul,
.top-menu .top-right-menu ul {
  display: flex;
}
.top-menu .top-left-menu ul li,
.top-menu .top-right-menu ul li {
  padding: 0 5px;
  color: hsla(0, 0%, 40%, 0.85);
}

.top-menu .top-right-menu ul {
  align-items: center;
}

.li-center {
  border-left: 1px solid hsla(0, 0%, 40%, 0.85);
  border-right: 1px solid hsla(0, 0%, 40%, 0.85);
}

.top-menu .top-left-menu ul li a,
.top-menu .top-right-menu ul li a {
  color: hsla(0, 0%, 40%, 0.85);
}
.icons {
  width: 15px;
  stroke-width: 3px;
  padding: 0 5px;
  vertical-align: middle;
}
.icon-cart {
  color: red;
  padding: 0 5px;
  vertical-align: middle;
}

.center-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center-menu .logo {
  width: 30%;
}
.center-menu .logo img {
  width: 80%;
}

.center-menu .search-form {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  width: 30%;
}
.center-menu .search-form form {
  width: 80%;
}
.center-menu .search-form .input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.center-menu .search-form form input {
  flex: 1;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  text-indent: 10px;
}
.center-menu .search-form .search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-search {
  width: 20px;
  stroke-width: 3px;
}
.main-menu {
  background-color: #ffffff;
}

.main-menu nav ul {
  display: flex;
  justify-content: center;
}
.main-menu nav ul li {
  padding: 10px;
}
.main-menu nav ul li a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Style Homepage */
img {
  width: 100%;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.image1 {
  width: 1020;
  height: 538;
  margin-top: 5px;
  margin-left: 110px;
}

.image2 {
  width: 1020;
  height: 538;
  margin-top: 30px;
  margin-left: 110px;
  position: relative;
}

.image3 {
  width: 1020;
  height: 538;
  margin-top: 25px;
  margin-left: 110px;
  position: relative;
}

.text-inner1 {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 73%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
}

.text-inner2 {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 80%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  font-size: 2em;
  font-family: sans-serif;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: sans-serif;
}

.btn-shop {
  border: 2px solid;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  display: inline-block;
  font-size: 0.97em;
  font-weight: bolder;
  letter-spacing: 0.03em;
}
